*.RData
.Rhistory
*.png
*.db
*.log
*.Rproj
*.sqlite
.Rproj.user/
bonap/
.Rproj.user
*.pdf
PA_VisitData/plant_eo_and_visit_data_20180515.csv
reference_data/IUCNredlist/export-91671.csv
*.jpg
output/gisdata/sp.srcln_plants.cpg
*.dbf
output/gisdata/sp.srcln_plants.prj
*.shp
output/gisdata/sp.srcln_plants.shx
*.shx
output/gisdata/sp.srcpy_plants.prj
*.tex
*.prj
ET_for_molly.csv
bonap_syn.csv
reference_data/IndexHerbariorum_PA.csv

*.csv
EO_x_landowner/intersect_20180706.csv.xml